<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <% if post.user_id == @current_user.username then %>
      <div class="posts-index-item">
      <div>▼申請日：<%= post.created_at.strftime('%Y/%m/%d [%H:%M]') %></div>
      【申請者：<%= post.user_id %>】
      <div>項目：<%= post.title %></div>
      <div class="posts-index-item"><%= post.body %></div>
        <div class="post-menus">
          <%= link_to("編集","/posts/#{post.id}/edit") %>
          <%= link_to("削除","/posts/#{post.id}/destroy",data:{turbo_method: :post}) %>
          </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>